<section class="px-6 py-16 md:px-20">


  <div
    class="
    flex
    flex-col
    items-center
    gap-6
    md:flex-row
    md:justify-between
    ">

    <h2
      class="
      text-3xl
      md:text-4xl
      font-josefin
      uppercase
      text-center
      md:text-left
      ">
      Our Creations
    </h2>


    <button
      class="
      hidden
      md:block
      border
      border-black
      px-8
      py-2
      uppercase
      tracking-widest
      hover:bg-black
      hover:text-white
      transition
      ">
      See all
    </button>

  </div>


  <div
    class="
    grid
    gap-6
    mt-10
    md:grid-cols-4
    ">


    <div class="relative group cursor-pointer h-[200px] md:h-[450px] overflow-hidden">

      <img
        src="/images/mobile/image-deep-earth.jpg"
        class="w-full h-full object-cover md:hidden"
      />

      <img
        src="/images/desktop/image-deep-earth.jpg"
        class="hidden md:block w-full h-full object-cover"
      />

      <div class="absolute inset-0 bg-black/40 group-hover:bg-white/70 transition"></div>

      <h3 class="absolute bottom-6 left-6 text-white text-2xl md:text-3xl font-josefin uppercase group-hover:text-black transition">
        Deep<br>
        Earth
      </h3>

    </div>


    <div class="relative group cursor-pointer h-[200px] md:h-[450px] overflow-hidden">

      <img
        src="/images/mobile/image-night-arcade.jpg"
        class="w-full h-full object-cover md:hidden"
      />

      <img
        src="/images/desktop/image-night-arcade.jpg"
        class="hidden md:block w-full h-full object-cover"
      />

      <div class="absolute inset-0 bg-black/40 group-hover:bg-white/70 transition"></div>

      <h3 class="absolute bottom-6 left-6 text-white text-2xl md:text-3xl font-josefin uppercase group-hover:text-black transition">
        Night<br>
        Arcade
      </h3>

    </div>

    <div class="relative group cursor-pointer h-[200px] md:h-[450px] overflow-hidden">

      <img
        src="/images/mobile/image-soccer-team.jpg"
        class="w-full h-full object-cover md:hidden"
      />

      <img
        src="/images/desktop/image-soccer-team.jpg"
        class="hidden md:block w-full h-full object-cover"
      />

      <div class="absolute inset-0 bg-black/40 group-hover:bg-white/70 transition"></div>

      <h3 class="absolute bottom-6 left-6 text-white text-2xl md:text-3xl font-josefin uppercase group-hover:text-black transition">
        Soccer<br>
        Team VR
      </h3>

    </div>

    <div class="relative group cursor-pointer h-[200px] md:h-[450px] overflow-hidden">

      <img
        src="/images/mobile/image-grid.jpg"
        class="w-full h-full object-cover md:hidden"
      />

      <img
        src="/images/desktop/image-grid.jpg"
        class="hidden md:block w-full h-full object-cover"
      />

      <div class="absolute inset-0 bg-black/40 group-hover:bg-white/70 transition"></div>

      <h3 class="absolute bottom-6 left-6 text-white text-2xl md:text-3xl font-josefin uppercase group-hover:text-black transition">
        The<br>
        Grid
      </h3>

    </div>


    <div class="relative group cursor-pointer h-[200px] md:h-[450px] overflow-hidden">

      <img
        src="/images/mobile/image-from-above.jpg"
        class="w-full h-full object-cover md:hidden"
      />

      <img
        src="/images/desktop/image-from-above.jpg"
        class="hidden md:block w-full h-full object-cover"
      />

      <div class="absolute inset-0 bg-black/40 group-hover:bg-white/70 transition"></div>

      <h3 class="absolute bottom-6 left-6 text-white text-2xl md:text-3xl font-josefin uppercase group-hover:text-black transition">
        From Up<br>
        Above VR
      </h3>

    </div>


    <div class="relative group cursor-pointer h-[200px] md:h-[450px] overflow-hidden">

      <img
        src="/images/mobile/image-pocket-borealis.jpg"
        class="w-full h-full object-cover md:hidden"
      />

      <img
        src="/images/desktop/image-pocket-borealis.jpg"
        class="hidden md:block w-full h-full object-cover"
      />

      <div class="absolute inset-0 bg-black/40 group-hover:bg-white/70 transition"></div>

      <h3 class="absolute bottom-6 left-6 text-white text-2xl md:text-3xl font-josefin uppercase group-hover:text-black transition">
        Pocket<br>
        Borealis
      </h3>

    </div>


    <div class="relative group cursor-pointer h-[200px] md:h-[450px] overflow-hidden">

      <img
        src="/images/mobile/image-curiosity.jpg"
        class="w-full h-full object-cover md:hidden"
      />

      <img
        src="/images/desktop/image-curiosity.jpg"
        class="hidden md:block w-full h-full object-cover"
      />

      <div class="absolute inset-0 bg-black/40 group-hover:bg-white/70 transition"></div>

      <h3 class="absolute bottom-6 left-6 text-white text-2xl md:text-3xl font-josefin uppercase group-hover:text-black transition">
        The<br>
        Curiosity
      </h3>

    </div>


    <div class="relative group cursor-pointer h-[200px] md:h-[450px] overflow-hidden">

      <img
        src="/images/mobile/image-fisheye.jpg"
        class="w-full h-full object-cover md:hidden"
      />

      <img
        src="/images/desktop/image-fisheye.jpg"
        class="hidden md:block w-full h-full object-cover"
      />

      <div class="absolute inset-0 bg-black/40 group-hover:bg-white/70 transition"></div>

      <h3 class="absolute bottom-6 left-6 text-white text-2xl md:text-3xl font-josefin uppercase group-hover:text-black transition">
        Make it<br>
        Fisheye
      </h3>

    </div>

  </div>


  <div class="flex justify-center mt-10 md:hidden">

    <button
      class="
      border
      border-black
      px-8
      py-2
      uppercase
      tracking-widest
      hover:bg-black
      hover:text-white
      transition
      ">
      See all
    </button>

  </div>

</section>
