<section class="relative">


  <img
    src="/images/mobile/image-hero.jpg"
    alt="hero mobile"
    class="w-full h-[500px] object-cover md:hidden"
  />


  <img
    src="/images/desktop/image-hero.jpg"
    alt="hero desktop"
    class="hidden md:block w-full h-[650px] object-cover"
  />


  <div
    class="
    absolute

    top-1/2
    left-1/2
    transform
    -translate-x-1/2
    -translate-y-1/2

    md:top-1/3
    md:left-56
    md:translate-x-0
    md:translate-y-0
    "
  >

    <h1
      class="
      text-white
      text-4xl
      md:text-6xl
      font-josefin
      uppercase
      border
      border-white
      p-6
      md:p-10
      max-w-sm
      md:max-w-xl
      leading-tight
      text-center
      md:text-left
      "
    >
      Immersive
      <br />
      experiences
      <br />
      that deliver
    </h1>

  </div>

</section>